[etherpad-app]
image = centos/etherpad
db_port = 3306
db_pass = sample_pass
db_name = sample_name
db_user = sample_user
db_host = mariadb
hostport = 9001
[mariadb-atomicapp]
db_pass = sample_pass
image = centos/mariadb
db_user = sample_user
root_pass = MySQLPass
db_name = sample_name
[general]
namespace = cap
provider = openshift
providertlsverify = False
provider-api = https://10.1.2.2:8443
provider-auth = ACCESS_TOKEN
provider-cafile = /host/var/lib/openshift/openshift.local.config/master/ca.crt
